html, body, #__nuxt {
    width: 100%;
    height: 100%;
}

:root {
    --background-color: #252525;
    --background-color-2: #181818;

    --accent-color: #D44C31;
    --accent-color-faded: rgba(212, 76, 49, 0.26);

    --color-text-primary: #ffffff;
    --color-text-accent: #D44C31;
    --color-text-muted: #878787;
    --color-text-inverted: #ffffff;
}
